%h1 Activities!

%ul.activities
  - activities.each do |activity|
    %li.activity
      .name= activity["name"]
      .code= activity["code"]
      .when= activity["when"]
      .where= activity["where"]