%footer#footer
  %ul.links
    %li.twitter
      %a(href="https://twitter.com/eurucamp" title="eurucamp on Twitter") @eurucamp
    %li.lanyrd
      %a(href="http://lanyrd.com/2012/eurucamp" title="eurucamp on Lanyrd") Lanyrd
    %li.facebook
      %a(href="https://www.facebook.com/eurucamp" title="Eurucamp on Facebook") Facebook
    %li.google-plus
      %a(href="https://plus.google.com/114984140580239329274" title="Eurucamp on Google+" rel="publisher") Google+
